body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: left;
  margin-left: 100px;
  align-items: center;
  background-image: url(imgs/photo-1470432581262-e7880e8fe79a.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  font-size: 16px;
}

form {
  display: flex;
  flex-flow: column;
}

input,
button,
a {
  outline: none;
}

form .linha {
  display: flex;
  flex-flow: column;
}

input {
  border: 4px;
  border-radius: 20px;
  padding: 10px;
  transition: .7s;
  background-color: #F2F2F2;
}

main#container {
  padding: 50px;
  height: 350px;
  width: 450px;
  background-color: #FFFFFF;
  border-radius: 30px;
  background: #ffffff;
  box-shadow:  0 0 60px,
  0 0 60px #ffffff;
}

.linha:last-child {
  text-align: center;
}

button {
  background-color: white;
  box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 1);
  border-radius: 16px;
  color: black;
  padding: 10px;
  margin-top: 12px;
  cursor: pointer;
  transition: .7s;
}

button:hover {
  translate: 0 -5px;
}

a {
  margin-top: 10px;
  color: black;
  text-decoration: none;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer
}

a:hover {
  text-decoration: underline;
}

#a2 {
  margin-left: 22px;
}

#a2,
h2,
p {
  justify-content: center;
  text-align: center;
}

#login {
  text-align: center;
  font-size: 24px;
}

.modeToggle {
  width: 150px;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body.darkMode,
main#container.darkMode {
  background-color: #444;
}

body.darkMode,
main#container.darkMode {
  background-color: #142d4c;
  color: white;
}

.invalid, input[type="checkbox"].invalid + label {
  color: red;
  text-decoration: underline;
}

